# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

####################
# Common patterns
####################

# Editor/environment files
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
*.idea
.idea/
nupkg/
*.DotSettings
*.ntvs*
*.njsproj

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*

####################
# Build results
####################

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
build/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/
Generated\ Files/
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.svclog
*.scc

####################
# NuGet specific
####################

# NuGet Packages
*.nupkg
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

####################
# Test Results
####################

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/
BenchmarkDotNet.Artifacts/
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

####################
# .NET Core specific
####################

# .NET Core build folders
**/Properties/launchSettings.json
**/bin
**/obj

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core Rider auto generate
.idea/
*.sln.iml